* {
    font-family: "Segoe UI Light" !important;
}

.navbar-right li a {
    text-align: right;
}

.navbar-custom {
    background-color: rgb(80, 191, 230) !important;
    border: none;
}

.header-background-color {
    background-color: rgb(80, 191, 230);
}

.headerLogoStyle {
    display: block;
    width: 200px;
    height: 40px;
    margin-top: -10px;
}

.navbar-inverse .navbar-nav li a {
    color: white;
}

    .navbar-inverse .navbar-nav li a:hover {
        color: white;
        font-weight: bold;
    }

/*.navbar-inverse .navbar-nav li.active a {
    color: rgb(18, 35, 119);
    font-weight: bold;
    background: none;
}*/

.navbar-inverse .navbar-nav li.active:hover a {
    background: none;
}

.highChartDivBorderInDashboard {
    border-radius: 15px;
    border: 2px solid #F0F0F0;
}

#overallVerificationRequiredContainer, #overallRollBackContainer, #overallOptionalVerificationContainer, #cmsVerificationRequiredContainer, #cmsRollBackContainer, #cmsOptionalVerificationContainer, #ub04VerificationRequiredContainer, #ub04RollBackContainer, #ub04OptionalVerificationContainer, #dcVerificationRequiredContainer, #dcRollBackContainer, #dcOptionalVerificationContainer {
    position: relative;
    height: 100%;
}

.centerAlignmentForText {
    text-align: center;
}

