################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DigitalMailRoomDashboard/.vs/DigitalMailRoomDashboard/DesignTimeBuild
/DigitalMailRoomDashboard/DigitalMailRoomMvc/bin/Debug/netcoreapp2.1
/DigitalMailRoomDashboard/.vs/DigitalMailRoomDashboard/v15/Server/sqlite3
