################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DigitalMailRoomDashboard/.vs/DigitalMailRoomDashboard/DesignTimeBuild
